.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

button:hover {
  cursor: pointer;
  font-size: 50px;
  background-color: bisque;
  color: indigo;
}

button {
  border-radius: 35%;
  font-size: 25px;
}

.beginBtn, .adminBtn, .homeButton {
  background-color: #033076;
  color: white;
}

h3 {
  text-decoration: underline;
}

.nextBtn {
  background-color: lightgreen;
  color: black;
  margin-left: 20px;
}

.prevBtn {
  margin-right: 20px;
  background-color: crimson;
  color: white;
}

.submitBtn {
  background-color: #033076;
  color: white;
  margin-bottom: 20px;
}

.resetBtn {
  border-radius: 10%;
}

.adminBtn {
  margin-left: 20px;
}

.adminPortal {
  position: fixed;
  bottom: 50px;
  left: 50px;
}

table, th, td {
  border: 1px solid blue;
}

table {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.deleteBtn {
  font-size: small;
  background-color: crimson;
  color: white;
}

.deleteBtn:hover {
  font-size: medium;
}

.backToHomeDiv {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

