.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

button:hover {
  cursor: pointer;
  font-size: 50px;
  background-color: bisque;
  color: indigo;
}

button {
  border-radius: 35%;
  font-size: 25px;
}

.beginBtn {
  background-color: #033076;
  color: white;
}

h3 {
  text-decoration: underline;
}

.nextBtn {
  background-color: lightgreen;
  color: black;
  margin-left: 20px;
}

.prevBtn {
  margin-right: 20px;
  background-color: crimson;
  color: white;
}

.submitBtn {
  background-color: #033076;
  color: white;
  margin-bottom: 20px;
}

.resetBtn {
  border-radius: 10%;
}